<?xml version="1.0" encoding="UTF-8"?>
<!-- TRACE < DEBUG < INFO < WARN < ERROR < FATAL -->
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %5p [%t] - %c.%M - %m%n" />
        </Console>
        <File name="FileAppender" fileName="./log/CarDealerLog-${date:yyyyMMdd}.log" immediateFlush="true" append="true">
            <PatternLayout pattern="%d %5p [%t] - %c.%M %L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" level="info"/>
            <AppenderRef ref="FileAppender" level="error"/>
        </Root>
    </Loggers>
</Configuration>