<!doctype html>
<html th:fragment="layout (template, menu)">

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/logo.jpg}">

    <title>CarDealer: Demo Spring-Boot Project by Tamas Bajor</title>

    <link rel="stylesheet" th:href="@{/resources/css/cardealer.css}"/>

  </head>

<body>

   <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-collapse collapse" id="main-navbar">
              <ul class="nav navbar-nav navbar-right">
  
                  <li th:fragment="menuItem (path,active,title,glyph,text)" class="active" th:class="${active==menu ? 'active' : ''}">
                      <a th:href="@{__${path}__}" th:title="${title}">
                        <span th:class="'glyphicon  glyphicon-'+${glyph}" class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        <span th:text="${text}">Template</span>
                      </a>
                  </li>
  
                  <li th:replace="::menuItem ('/','home','home page','','Home')">
                      <span>Home</span>
                  </li>
  
                  <li th:replace="::menuItem ('/salesman/find','owners','find owners','','Find Salesman')">
                      <span>Find owners</span>
                  </li>
  
                  <li th:replace="::menuItem ('/advertisementList.html','vets','veterinarians','','Advertisements')">
                      <span>Veterinarians</span>
                  </li>
  
                  <li th:replace="::menuItem ('/oups','error','trigger a RuntimeException to see how it is handled','','Error')">
                      <span>Error</span>
                  </li>
  
 				  <li th:replace="::menuItem ('/reset','reset','Reset the DB Content to default, after deletes or updates','','Reset DB')">
                      <span>Reset DB</span>
                  </li>
                  
              </ul>
          </div>
      </div>
  </nav>
  <div class="container-fluid">
      <div class="container xd-container">
  
          <th:block th:include="${template}"/>

        <br/>
        <br/>
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">Implemented by Tamas Bajor</div>
          </div>
        </div>
      </div>
  </div>


</body>

</html>
