<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h1>Welcome at Car Dealer Application!</h1>
    <br />
    <br />
    <br />
    <h2>Available Users</h2>
    <br />
    <br />
    <br />
    <h3>--- ADMINS ---</h3>
    <table class="table table-striped">
      <tr th:each="admin : ${admins}">
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Name:</th>
                <th>Role:</th>
              </tr>
            </thead>
            <tr>
              <td th:text="${admin.name}"></td>
              <td th:text="${admin.role}"></td>
              
              <!-- Continue to the proper subside -->
  			  <td><a th:href="@{admin/{id}(id=${admin.id})}">Go to Admin Panel</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <br />
    <h3>--- SELLERS ---</h3>
    <table class="table table-striped">
      <tr th:each="seller : ${sellers}">
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Name:</th>
                <th>Role:</th>
                <th>Nr of Adds:</th>
              </tr>
            </thead>
            <tr>
              <td th:text="${seller.name}"></td>
              <td th:text="${seller.role}"></td>
              <td th:text="${seller.currentMoney}"></td>
              
              <!-- Continue to the proper subside -->
  			  <td><a th:href="@{seller/{id}(id=${seller.id})}">Edit Advertisements</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <br />
    <br />
    <h3>--- BUYERS ---</h3>
    <table class="table table-striped">
      <tr th:each="buyer : ${buyers}">
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Name:</th>
                <th>Role:</th>
                <th>Current Money</th>
              </tr>
            </thead>
            <tr>
              <td th:text="${buyer.name}"></td>
              <td th:text="${buyer.role}"></td>
              <td th:text="${buyer.currentMoney}"></td>
              
              <!-- Continue to the proper subside -->
  			  <td><a th:href="@{buyer/{id}(id=${buyer.id})}">Check Advertisements</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>

</html>